:root {
    --Background: #FFFFFF;
    --FullHeight: 100vh;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

body {
    height: var(--FullHeight);
    width: 100%;
    background-image: url(../img/bg2cropped.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    justify-content: center;
}

.logo {
    margin-top: 3vh;
    margin-left: 5vh;
    width: 250px;
    position: absolute;
    color: #FFFFFF;
    font-size: 2.2rem;
    font-family: "Montserrat";
    font-weight: 600;
    user-select: none;
}

.loginWrapper {
    position: relative;
    color: #FFFFFF;
    backdrop-filter: blur(10px) saturate(45%);
    border-radius: 30px;
    padding: 30px 60px;
    margin: auto;
    height: min-content;
    width: min-content;
    display: grid;
    grid-template-columns: 250px;
    grid-template-rows: min-content 35px 35px 70px min-content min-content;
    row-gap: 25px;
    grid-template-areas:
    "title"
    "username"
    "password"
    "Loginbtn"
    "forgotPassword"
    "noLogin";
    text-align: center;
}

.titleText {
    font-weight: 500;
    font-size: 1.4rem;
    grid-area: "title";
}

.title {
    font-size: 2.5rem;
    font-weight: 700;
}

.loginWrapper input {
    color: #FFFFFF;
    font-size: 1rem;
    border: none;
    background: none;
    border-bottom: 2px solid #FFFFFF;
    transition: 0.1s ease-in-out;
}

.loginWrapper input:focus {
    border-bottom: 2px solid rgb(45, 140, 241);
    outline: none;
}

.loginWrapper input::placeholder {
    color: #FFFFFF;
    opacity: 0.9;
}

.forgotpsw {
    font-size: 1.1rem;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.forgotpsw:hover {
    color: rgb(45, 140, 241);
}

.noLogin {
    font-size: 1.1rem;
    text-decoration: underline;
    cursor: pointer;
    transition: 0.1s ease-in-out;
    color: #FFFFFF;
}

.noLogin:hover {
    color: rgb(45, 140, 241);
}

#loginbtn {
    background: rgb(45, 140, 241);
    border: none;
    color: #FFFFFF;
    font-size: 1.4rem;
    cursor: pointer;
    border-radius: 15px;
    margin-bottom: 10px;
}
@media only screen and (max-width: 400px) {
    .loginWrapper {
        padding: 10px 10px;
    }
}