:root {
  --Background: #EBEBEB;
  --FullHeight: 100vh;
  --CardColor: #FFFFFF;
  --TextColor: #000000;
  --ContrastColor: rgb(45, 140, 241);
}

body {
  font-weight: 400;
}

@media (prefers-color-scheme: dark) {
    :root {
        --Background: rgb(14, 16, 17);
        --CardColor: rgb(24, 28, 31);
        --TextColor: rgba(255, 255, 255, 0.938);
        --ContrastColor: rgb(26, 109, 197);
    }

    body {
        font-weight: 350;
    }
}

.sortBy {
    grid-area: sort;
    height: 40px;
    position: relative;
    width: 175px;
  }

.sortBy select {
  display: inline-block;
  width: 100%;
  cursor: pointer;
  padding: 9.5px 5px;
  outline: 0;
  border: 0;
  border-radius: 5px;
  background: var(--Background);
  color: var(--TextColor);
  border: 2px solid var(--ContrastColor);
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  font-size: 14px;
}

.sortBy select::-ms-expand {
  display: none;
}

.sortBy select:hover,
.sortBy select:focus {
  background: var(--Background);
  color: var(--TextColor);
}

.sortBy select:disabled {
  opacity: 0.5;
  pointer-events: none;
}

.sortBy__arrow {
  position: absolute;
  top: 16px;
  right: 15px;
  width: 0;
  height: 0;
  pointer-events: none;
  border-style: solid;
  border-width: 8px 5px 0 5px;
  border-color: var(--TextColor) transparent transparent transparent;
  transition: 0.1s ease-in-out;
}