:root {
    --Background: #EBEBEB;
    --FullHeight: 100vh;
    --CardColor: #FFFFFF;
    --TextColor: #000000;
    --ContrastColor: rgb(45, 140, 241);
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

body {
    background: var(--Background);
    font-weight: 400;
}

@media (prefers-color-scheme: dark) {
    :root {
        --Background: rgb(14, 16, 17);
        --CardColor: rgb(24, 28, 31);
        --TextColor: rgba(255, 255, 255, 0.938);
        --ContrastColor: rgb(26, 109, 197);
    }

    body {
        font-weight: 350;
    }
}

.titlebar {
    margin-top: 2vh;
    display: grid;
    grid-template-columns: 5vw 250px auto 175px 1vw 200px 1vw 100px 8vw;
    grid-template-rows: 55px;
    grid-template-areas: 
    ". logo . sort . search . add .";
    width: 100%;
    align-items: center;
    background: var(--Background);
}

.logo {
    color: var(--TextColor);
    font-size: 2.2rem;
    font-family: "Montserrat";
    font-weight: 600;
    user-select: none;
    grid-area: logo;
}

.search {
    grid-area: search;
    height: 40px;
    border-radius: 5px;
    border: 2px solid var(--ContrastColor);
    background: var(--Background);
    padding-left: 10px;
    color: var(--TextColor);
    padding: 10px 5px;
}

.newAddContainer {
    border-radius: 5px;
    grid-area: add;
    height: 40px;
    background: var(--ContrastColor);
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFFFFF;
    padding: 0px 20px;
    white-space: nowrap;
    font-size: 0.99rem;
    transition: 0.2s ease;
    vertical-align: middle;
    border: none;
    backface-visibility: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: antialiased;
}

.newAddContainer:hover {
    transform: scale(1.048);
}

#add {
    height: 26px;
    width: 26px;
}

.loginBtn {
    color: var(--ContrastColor);
    text-decoration: underline;
    grid-area: add;
    white-space: nowrap;
    cursor: pointer;
    font-size: 1.4rem;
    margin-left: 15px;
}

@media only screen and (max-width: 830px) { 
    .titlebar {
        grid-template-columns: auto min-content auto min-content auto min-content auto;
        grid-template-rows: 55px 55px;
        grid-template-areas: 
        ". logo logo logo logo logo ."
        ". search . sort . add .";
        justify-items: center;
    }
}

@media only screen and (max-width: 500px) {
    .titlebar {
        grid-template-columns: 5% 90% 5%;
        grid-template-rows: 55px 55px 55px 55px;
        grid-template-areas:
        ". logo ."
        ". search ."
        ". sort ."
        ". add .";
        justify-items: center;
    }

    .search {
        width: 90%;
    }

    .sortBy {
        width: 90%;
    }
}

#carSection {
    width: 95%;
    margin: auto;
    margin-top: 35px;
    background: var(--Background);
    height: min-content;
    display: grid;
    row-gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
    justify-items: center;
    transition: 0.2s ease;
}

#card {
    background: var(--CardColor);
    color: var(--TextColor);
    padding: 10px 20px 10px 20px;
    display: flex;
    flex-direction: column;
    height: min-content;
    width: 220px;
    border-radius: 15px;
    text-align: left;
    box-sizing: content-box;
    transition: 0.2s ease;
}

#card img {
    width: auto;
    height: auto;
    max-height: 170px;
    max-width: 220px;
    border-radius: 15px;
    object-fit: contain;
    margin: 10px 0px;
}

#card p {
    font-size: 1.3rem;
    margin-bottom: 10px;
}

@media only screen and (max-width: 300px) {
    #carSection {
        width: 100%;
    }
}

@media only screen and (max-width: 610px) {
    #card {
        width: 135px;
        height: min-content;
        padding: 5px 10px 5px 10px;
    }

    #card img {
        max-width: 135px;
        max-height: 120px;
        border-radius: 15px;
        object-fit: fill;
    }

    #card p {
        font-size: 0.9rem;
    }

    #carSection {
        grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
        width: 100%;
    }
}

#loadingContainer {
    margin-top: 360px;
    margin-left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    position: fixed;
    display: none;
    z-index: 3;
}

#loading {
    width: 40px;
    height: 40px;
    position: relative;
    animation: loading 2.5s infinite linear both;
    z-index: 3;
  }
  
  .loading-dot {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0; 
    animation: loading-dot 2.0s infinite ease-in-out both; 
  }
  
  .loading-dot:before {
    content: '';
    display: block;
    width: 25%;
    height: 25%;
    background-color: #fff;
    border-radius: 100%;
    animation: loading-dot-before 2.0s infinite ease-in-out both; 
  }

  @media only screen and (max-width: 670px) {
      #loadingContainer {
          margin-top: 250px;
      }
  }
  
  .loading-dot:nth-child(1) { animation-delay: -1.1s; }
  .loading-dot:nth-child(2) { animation-delay: -1.0s; }
  .loading-dot:nth-child(3) { animation-delay: -0.9s; }
  .loading-dot:nth-child(4) { animation-delay: -0.8s; }
  .loading-dot:nth-child(5) { animation-delay: -0.7s; }
  .loading-dot:nth-child(6) { animation-delay: -0.6s; }
  .loading-dot:nth-child(1):before { animation-delay: -1.1s; }
  .loading-dot:nth-child(2):before { animation-delay: -1.0s; }
  .loading-dot:nth-child(3):before { animation-delay: -0.9s; }
  .loading-dot:nth-child(4):before { animation-delay: -0.8s; }
  .loading-dot:nth-child(5):before { animation-delay: -0.7s; }
  .loading-dot:nth-child(6):before { animation-delay: -0.6s; }
  
  @keyframes loading {
    100% { transform: rotate(360deg); } 
  }
  
  @keyframes loading-dot {
    80%, 100% { transform: rotate(360deg); } 
  }
  
  @keyframes loading-dot-before {
    50% {
      transform: scale(0.4); 
    } 100%, 0% {
      transform: scale(1.0); 
    } 
  }