:root {
    --Background: #FFFFFF;
    --FullHeight: 100vh;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto";
}

.titlebar {
    height: 100px;
    width: 100%;
}

.logo {
    height: 100px;
    width: 190px;
    margin-left: 100px;
    display: inline-block;
}